<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uno game rules</title>
</head>
<body>
    <p>
        1. Up to 4 players can join a game before it begins. 
        <br>
        2. If less than 4 people join the game, computer players will be used to fill in the extra spaces. 
        <br>
        2. Each player starts with 7 cards.
        <br>
        3. During their turn, a player can pick a card or play a card from their hand.
        <br>
        4. Players can only play cards which are of the same number or color of the card currently at the top of the played stack. Additionally, players can play special cards if they have them.
        <br>
        5. If a player does not play within a minute of their turn, they will automatically draw a card and their turn will be skipped. 
        <br>
        6. Leaving the game room before the game is over will result in points deducted from a player's overall score. 
        <br>
        7. Players with only one card in their hand must declare 'Uno' immediately. They will draw a penalty card if they do not do so after 5 seconds.
    </p>
</body>
</html>